
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F6FA;    
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-faq-content {
  display: flex;
  flex-direction: column;
}

.container-faq-content__content {
  display: flex;
  position: fixed;
  top: calc(100px + (140 - 100) * ((100vw - 320px) / (1880 - 320)));
  width: 100vw;
}

section p {
  margin: 0;
}

.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}

.mobileMenu {
  display: none;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .mobileMenu {
    position: absolute;
    display: block;
    padding: 20px;
    top: 0;
    z-index: 5;
    background-color: white;  
    width: 260px;
    /* height: 100vh; */
    
    box-shadow: 0 0 10px 2px gray;
  }
}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}


